body {
  background-color: rgb(255, 255, 255);
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } 

  h1 {
    text-align: center;
    margin-top: 20px;
}

.cover{
  background-image: url('img/bg1.jpg');
}

.container {
  text-align: center;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

input[type="file"] {
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  border: 1px solid #000; /* Warna border hitam */
  border-radius: 4px;
  background-color: gold; /* Warna latar belakang emas */
  color: #000; /* Warna teks hitam */
  font-size: 16px; /* Ukuran teks */
  cursor: pointer; /* Tanda kursor saat dihover */
  outline: none; /* Hilangkan tampilan outline */
}

input[type="file"]:hover {
  background-color: #FFD700; /* Warna latar belakang emas saat dihover */
  color: #000; /* Warna teks hitam saat dihover */
}

input[type="submit"] {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FFD700;
}

/* untuk tampilan riwayat file */

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  background-color: #fffefa;
  border: 2px solid #2a2929;
}

th {
  background-color: #000000;
  color: #f9f9f9;
  text-align: center;
}

.profile-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 20px auto; /* Added more margin */
}

.profile-card-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; /* Added margin to separate from text */
}

.profile-card h1 {
  color: #333;
  font-size: 24px;
  margin-top: 10px;
}

.profile-card p {
  color: #555;
  font-size: 16px;
  margin: 10px 0;
}
